<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s</title>
</head>
<body>
    
    <div class="contenedor" id="app">
        <h3 v-text="message" v-model="" style="text-align: center; color: aqua;">Login</h3>
        <form id="forma" name="forma">
            <div class="elemento">
                <label for="appointment">Cargo: </label>
                <br>
                <select v-model="ls_apt" class="personalizacion" required="true">

                    <option>Administrador</option>
                    <option>Ensamblador</option>
                    <option>Secretario</option>
                    <option>Vendedores</option>
                    
                    <option>Ven</option>
                  </select>
            </div>
            <div class="elemento">
                <label for="pin">Pin: </label>
                <input v-model="pin_apt" type="text" placeholder="Ingrese el pin" name="pin" id="pin" required="true" />
            </div>
                <input type="button" class="inp" value="Ingresar" @click="guardarDatos">
        </form>
    </div>
</body>
</html>