<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>s</title>
</head>

<body>
    <div id="app">

        <div class="contenedor" v-if="login">
            <h3 style="text-align: center; color: aqua;">Login</h3>
            <form id="forma" name="forma">
                <div class="elemento">
                    <label for="appointment">Cargo: </label>
                    <br>
                    <select v-model="ls_log" class="personalizacion" required="true">

                        <option>Administrador</option>
                        <option>Ensamblador</option>
                        <option>Secretario</option>
                        <option>Vendedor</option>
                    </select>
                </div>
                <div class="elemento">
                    <label for="pin">Pin: </label>
                    <input v-model="pin_apt" type="text" placeholder="Ingrese el pin" name="pin" id="pin"
                        required="true" />
                </div>
                <input type="button" class="inp" value="Ingresar" @click="log_in">
            </form>
        </div>

        <div class="contenedor" v-if="ls_apt=='Administrador'">
            <span>&#xf02f;</span>
            <h3 style="text-align: center; color: aqua; margin-top: -4%;">Administrador </h3>
            <select v-model="ls_adm" class="personalizacion" required="true">
                <option value="0">Ensamblador</option>
                <option value="1">Secretario</option>
                <option value="2">Vendedor</option>
            </select>
            <form id="forma" name="forma">
                <div class="elemento" v-if="ls_adm!=-1">
                    <label for="appointment">Salario Base: </label>
                    <input v-model="salary[ls_adm]" type="number" name="appointment" required="true" id="appointment"
                        class="a" />
                </div>
                <div class="elemento" v-if="ls_adm==0">
                    <label for="pin">Cantidad de zapatos a realizar: </label>
                    <input v-model="cnt_shoes" type="number" placeholder="Ingrese cantidad de zapatos" name="pin"
                        id="pin" required="true" />
                </div>
                <div class="elemento" v-if="ls_adm==0">
                    <label for="pin">Cantidad de zapatillas a realizar: </label>
                    <input v-model="cnt_zpl" type="number" placeholder="Ingrese cantidad de zapatillas" name="pin"
                        id="pin" required="true" />
                </div>

                <div class="elemento" v-if="ls_adm==0">
                    <label for="pin">Precio de ensamble zapatos: </label>
                    <input v-model="prc_shoes" type="number" placeholder="Ingrese valor del ensamblado" name="pin"
                        id="pin" required="true" />
                </div>
                <div class="elemento" v-if="ls_adm==0">
                    <label for="pin">Precio de ensamble zapatillas: </label>
                    <input v-model="prc_zpl" type="number" placeholder="Ingrese valor del ensamblado" name="pin"
                        id="pin" required="true" />
                </div>
                <div class="elemento" v-if="ls_adm==2">
                    <label for="pin">Comisión de ventas realizadas: </label>
                    <input v-model="gain" type="number" placeholder="Ingrese el porcentaje de comisión" name="pin"
                        id="pin" required="true" />
                </div>
                <input type="button" class="inp" value="Guardar datos">
            </form>
        </div>

        <div class="contenedor" v-if="ls_apt=='Secretario'">
            <h3 style="text-align: center; color: aqua;">Secretario</h3>
            <form id="forma" name="forma">
                <div class="elemento">
                    <label for="pin">Horas extras trabajadas: </label>
                    <input v-model="hr_ex" type="text" placeholder="Ingrese horas extras" name="pin" id="pin"
                        required="true" />
                </div>
                <input type="button" class="inp" value="Guardar datos" @click="guardarDatos">
            </form>
        </div>


        <div class="contenedor" v-if="ls_apt=='Ensamblador'">
            <h3 style="text-align: center; color: aqua;">Ensamblador</h3>
            <form id="forma" name="forma">
                <div class="elemento">
                    <label for="appointment">Horas extras trabajadas: </label>
                    <input v-model="hr_ex" type="number" placeholder="Ingrese horas extras" name="appointment"
                        required="true" id="appointment" />
                </div>
                <div class="elemento">
                    <label for="pin">Cantidad de zapatos ensamblados: </label>
                    <input v-model="nm_zpt" type="number" placeholder="Ingrese la cantidad de zapatos" name="pin"
                        id="pin" required="true" />
                </div>
                <div class="elemento">
                    <label for="pin">Cantidad de zapatillas ensambladas: </label>
                    <input v-model="nm_zpl" type="number" placeholder="Ingrese la cantidad de zapatillas" name="pin"
                        id="pin" required="true" />
                </div>


                <div class="elemento">
                    <label for="pin">Cantidad de hijos: </label>
                    <input v-model="hj" type="number" placeholder="Ingrese la cantidad de hijos" name="pin" id="pin"
                        required="true" />
                </div>
                <div class="elemento">
                    <label for="pin">Auxilio de transporte: </label>
                    <input v-model="sbd_tr" type="number" readonly onmousedown="return false" name="appointment"
                        required="true" id="appointment" class="a" />
                </div>
                <input type="button" class="inp" value="Guardar datos" @click="guardarDatos">
            </form>
        </div>

        <div class="contenedor" v-if="ls_apt=='Vendedor'">
            <h3 style="text-align: center; color: aqua;">Vendedor</h3>
            <form id="forma" name="forma">
                <div class="elemento">
                    <label for="pin">Cantidad de zapatos vendidos: </label>
                    <input v-model="vnt" type="number" placeholder="Ingrese la cantidad vendida" name="pin" id="pin"
                        required="true" />
                </div>
                <div class="elemento">
                    <label for="pin">Cantidad de zapatillas vendidos: </label>
                    <input v-model="cnt_venzl" type="number" placeholder="Ingrese la cantidad vendida " name="pin"
                        id="pin" required="true" />
                </div>
                <div class="elemento">
                    <label for="pin">Auxilio de transporte: </label>
                    <input v-model="sbd_tr" type="number" readonly onmousedown="return false" name="appointment"
                        required="true" id="appointment" class="a" />
                </div>
                <input type="button" class="inp" value="Guardar datos" @click="guardarDatos">
            </form>
        </div>
    </div>

    <table>
        <tr>
            <th>Cargos</th>
            <th>Empleados</th>
            <th>Salario</th>
        </tr>
        <tr>
            <th rowspan="2">Ensambladores</th>
            <td>Luis</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>Luis</td>
            <td>1700000</td>
        </tr>
        <tr>
            <th rowspan="2">Vendedores</th>
            <td>David</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>David Luis</td>
            <td>1700000</td>
        </tr>
        <tr>
            <th rowspan="2">Secretarios</th>
            <td>Luis David</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>David</td>
            <td>1700000</td>
        </tr>
    </table>
<h1></h1>
    <table>
        <tr>
            <th>Cargo</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Ensamblador</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>Secretario</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>Vendedor</td>
            <td>1700000</td>
        </tr>
        <tr>
            <td>Total Liquidado</td>
            <td>1700000(3)</td>
        </tr>
    </table>


</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/back.js"></script>

</html>